@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto&display=swap');

body {
    background-image: url('./Images/backgroundimage.jpg');    
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
}

#Footer {
    background-color: #0a3d00;
    height: 20px;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

#Container {
    background-color: white;
}